@use '../utils/variables';
@use '../utils/mixins' as *;

.about {
  &__content {
    margin-top: 48px;

    @include on-tablet {
      margin-top: 56px;
    }

    @include on-desktop {
      margin-top: 56px;
    }

    @include grid;
  }

  &__title {
    grid-column: 1/ -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__text {
    margin: 0;
    grid-column: 1/ -1;
    font-family: 'Space Mono', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__image {
    cursor: pointer;
    grid-column: 1/ -1;
    margin: 0;
    padding: 0;
    height: 200px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    background-image: url(../images/about__top.png);
    background-size: cover;
    background-position: center;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }
}
