@use '../utils/variables';
@use '../utils/mixins' as *;

.browse {
  &__content {
    @include grid;
  }
  &__button {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: span 4;
    }
  }

  &__title {
    grid-column: 1 / -1;
  }
}

.photos {
  grid-column: 1 / -1;

  @include grid;

  &__title {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;
    grid-column: 1 / -1;
  }
  &__photo {
    width: 100%;
    height: 100%;

    @include hover(transform, scale(1.05));

    border-radius: 4px;
  }
  &__link-square {
    grid-column: span 1;

    @include on-tablet {
      grid-column: span 2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
  &__link-rectangle {
    grid-column: span 1;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 8;
    }
  }
}
