@use '../utils/mixins' as *;
@use '../utils/variables' as *;

/* #region header */

.header {
  // display: none !important;
  color: $main-text-color;

  background-image: url(../images/Image.png);
  background-size: cover;
  background-position: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;

    @include on-tablet {
      font-size: 48px;
    }
  }

  &__bottom {
    padding-bottom: 40px;
  }
}

/* #endregion */
