@use '../utils/mixins' as *;

.recommended {
  &__products {
    @include grid;

    row-gap: 40px;

    @include onTablet {
      row-gap: 56px;
    }

    @include onDesctop {
      column-gap: 24px;
    }
  }
}

.card {
  grid-column: 1 / -1;
  &__photo {
    width: 100%;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.05);
    }
    &-first {
      background-image: url(../images/card1.png);
      background-size: cover;
    }
    &-second {
      background-image: url(../images/card2.png);
      background-size: cover;
    }
    &-third {
      background-image: url(../images/card3.png);
      background-size: cover;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;
  }
  &__text {
    font-family: 'Space Mono', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
  }
  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
  }

  @include onTablet {
    grid-column: 1 / -1;
  }

  @include onDesctop {
    grid-column: span 4;
  }
}
