@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.section {
  color: $main-text-color;
  margin: 0;

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0;
    color: $main-text-color;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
      font-size: 40px;
      line-height: 40px;
    }
  }
}
