@use './utils/variables' as *;
@use './utils/mixins' as *;
@use './blocks/page';
@use './blocks/menu';
@use './blocks/icons';
@use './blocks/header';
@use './blocks/top-bar';
@use './blocks/recomend';
@use './blocks/section';
@use './blocks/browse';
@use './blocks/about';
@use './blocks/contacts';

.main {
  &__content {
    display: grid;
    row-gap: 96px;
    padding-block: 96px;

    @include on-tablet {
      row-gap: 120px;
      padding-block: 120px;
    }
  }
}

.button {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;

  cursor: pointer;

  background-color: $def-button-color;
  color: #fff;
  border: none;
  border-radius: 8px;
  height: 56px;

  @include hover(transform, scale(1.05));

  &:hover {
    background-color: $hover-button-color;
    color: $main-text-color;
  }
  &:focus {
    background-color: $focus-button-color;
    color: #fff;
  }
}
