@use './variables' as *;

@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesctop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin contentPaddingInline {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
  }

  @include onDesctop {
    padding-inline: 120px;
    max-width: 1020px;
    margin-inline: auto;
  }
}

.container {
  @include contentPaddingInline;
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  @include onDesctop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }
}
